.Button {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 15px;
    min-width: 15px;
    background-color: #fff;
}

.Button:hover,
.Button:focus {
  filter: brightness(108%);
  cursor: pointer;
}