.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    max-width: 350px;
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid #ccc;
    color: #666;
    margin-bottom: 10px;
}

.TaskNameContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex:0.8;
    margin-left: 10px;
}
.actionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 16;
    margin-left: 4px;
    padding-left: 4;
    flex:0.2;
    padding-bottom: 2px;

}

.ButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.Icon {
    font-size: 16px;
}

.Icon:hover,
.Icon:focus {
  /* box-shadow: inset 0 0 0 2em #FFC45E; */
  filter: brightness(115%);
  cursor: pointer;
}

.SuccessButton {
    color: #85bf31;
}

.DangerButton {
    color: #DB524B;
}