.Container {
    position: fixed;
    left: 50%;
    top:  50%;
    border: 2px solid #FFC45E;
    background-color: #FFC45E;
    color: #fff;
    z-index: 9999;
    padding: 10px;
    padding-bottom: 4px;
    margin-right: 10px;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    min-width: 150px;
    max-width: 300px;

}