.DrawerContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 300px;
    padding: 4px;
    position: fixed;
    right: 1px;
    top: 35%;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    border: 4px solid #FFC45E;
    z-index:9999;
    overflow: auto;
}

.TitleBanner {
    display: flex;
    flex: 1;
    flex-direction: row;
    border-bottom: 1px solid #aaa;
    color: #000;
    justify-content: space-around;
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: center;
}

.ButtonContainer {
    height:30px;
    width: 30px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
}

.AddStepContainer {

    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.AddStepButton {
    border: 1px dashed #85bf31;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
    color: #85bf31;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.AddStepButton:hover {
    background-color: #85bf31;
    color: #fff;
}

.AddTaskButton {
    display: flex;
    align-items: 'center';
    justify-content: center;
    /* border: 2px solid #85bf31; */
    border-radius: 15;
    /* background-color: #85bf31; */
    height:25;
    width:25
}